---
layout: archive
author_profile: true
---

<h1>Publication</h3>

<ol>
    <li> Masters Thesis: Nanopore Sequencing: tracking down the m<sup>6</sup>A modification
        <ul>
            <li>
                in 2021
            </li>
            <li>
                at Friedrich-Schiller-University Jena, RNA Bioinformatics & High-Throughput Analysis
            </li>
            <li>
                supervised by 
                <a href="https://github.com/RaverJay">Sebastian Krautwurst</a> , <a href="http://www.bioinf.uni-leipzig.de/~choener/">Christian Höner zu Siederdissen</a> and <a href="https://www.rna.uni-jena.de">Manja Marz</a>
            </li>
        </ul>
    </li>
    <li>test 2</li>
</ol>